<div id="<%= dom_id bed %>">
  <p>
    <strong>Bedspace:</strong>
    <%= bed.bedspace_id %>
  </p>

  <p>
    <strong>Occupant firstname:</strong>
    <%= bed.occupant_firstname %>
  </p>

  <p>
    <strong>Occupant lastname:</strong>
    <%= bed.occupant_lastname %>
  </p>

  <p>
    <strong>Occupant email:</strong>
    <%= bed.occupant_email %>
  </p>

  <p>
    <strong>Status:</strong>
    <%= bed.status %>
  </p>

  <p>
    <strong>Occupant campaign:</strong>
    <%= bed.occupant_campaign %>
  </p>

  <p>
    <strong>Room:</strong>
    <%= bed.room_id %>
  </p>

</div>
